services:
  frontend:
    container_name: vue
    image: vueapp:1.0.0
    build:
      context: ./frontend
      dockerfile: dockerfile.local
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '80:80'
    depends_on:
      - backend
  backend:
    container_name: fastapi
    image: fastapiapp:1.0.0
    build:
      context: ./backend
      dockerfile: dockerfile.local
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env.local
    ports:
      - '8000:8000'
    depends_on:
      - weaviate
  weaviate:
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8080'
      - --scheme
      - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.34.0
    ports:
      - 8080:8080
      - 50051:50051
    volumes:
      - weaviate_data:/var/lib/weaviate
    restart: on-failure:0
    environment:
      COHERE_APIKEY: $COHERE_APIKEY
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-cohere'
      ENABLE_MODULES: 'text2vec-cohere,reranker-cohere'
      CLUSTER_HOSTNAME: 'node1'
volumes:
  weaviate_data:
