:root {
  --color-primary: hsl(197, 100%, 42%);
  --color-primary-dark: hsl(197, 100%, 31%);
  --color-secondary: hsl(330, 79%, 60%);
  --color-secondary-dark: hsl(337, 62%, 59%);
  --color-error: hsl(0, 63%, 46%);
  --color-surface-0: hsl(211, 59%, 7%);
  --color-surface-100: hsl(218, 30%, 17%);
  --color-surface-200: hsl(217, 14%, 25%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: var(--color-surface-0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: 2rem;
}
