:root {
  /* colors */
  --clr-offwhite: hsl(30, 25%, 92.16%);
  --clr-black: hsl(30, 14.29%, 5.49%);
  --clr-darkgrey: hsl(0, 0%, 15%);

  --clr-orange: hsl(15, 58%, 47%);
  --clr-green: hsl(164.17, 45.57%, 30.98%);
  --clr-blue: hsl(225.6, 100%, 75.49%);
  --clr-darkblue: hsl(229, 57%, 50%);
  --clr-purple: hsl(272, 48%, 47%);
  --clr-pink: hsl(338.18, 52.38%, 41.18%);

  --clr-light: var(--clr-offwhite);
  --clr-dark: var(--clr-black);
  --clr-primary: var(--clr-blue);
  --clr-font: var(--clr-offwhite);

  /* spacing */
  --space-base: 0.5rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-6: 3rem;
  --space-8: 4rem;

  /* border radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-pill: 9999px;
  --radius-circle: 50%;

  /* font */
  --font-main: 'Quicksand', system-ui, -apple-system, sans-serif;
  --font-base: 1rem;
  --font-p-lg: 1.1rem;
  --font-display-sm: 1.25rem;
  --font-display-lg: 3.25rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  color: var(--clr-font);
  background-color: var(--clr-dark);
  background-image:
    radial-gradient(ellipse 200% 150% at 50% 100%, var(--clr-dark), transparent),
    linear-gradient(transparent 0%, transparent 9.5%, var(--clr-dark) 60%),
    linear-gradient(rgba(15, 13, 11, 0.65), rgba(15, 13, 11, 0.65)),
    linear-gradient(to right, var(--clr-orange), var(--clr-green), var(--clr-purple));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

p {
  text-wrap: balance;
}

input,
button,
textarea {
  font: inherit;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: var(--space-4);
}
