@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-light: #f8f4f2;
  --color-dark: #100e0c;

  --color-surface-0: var(--color-dark);
  --color-surface-10: #1c1c22;
  --color-surface-20: #313137;
  --color-surface-30: #47474c;
  --color-surface-40: #5f5f63;
  --color-surface-50: #77777b;
  --color-surface-60: #919194;
  --color-surface-70: #ababae;

  --color-orange: #f06c41;
  --color-green: #0c9973;
  --color-blue: #82a0ff;
  --color-darkblue: #4362ef;
  --color-purple: #9842e2;
  --color-pink: #c6396c;

  --color-primary: var(--color-blue);
  --color-danger: #9c2121;

  --font-main: 'Quicksand', system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-surface-0);
    color: var(--color-light);
    font-family: var(--font-main);
  }
  button {
    cursor: pointer;
  }
}
@utility transition-brightness {
  transition: filter 100ms ease-in;

  &:hover {
    filter: brightness(0.85);
  }
}
